<!--Carrousel-->
<div class="carousel slide" id="mainSlider" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img src="assets/images/slide01.jpg" alt="First slide" class="d-block w-100">
            <!-- d-block significa Display block, con w100 digo el ancho de la pantalla que quiero que ocupe la imagen, en este caso el 100%-->
        </div>

        <div class="carousel-item">
            <img src="assets/images/slide02.jpg" alt="Second Slide" class="d-block w-100">
        </div>

        <div class="carousel-item">
            <img src="assets/images/slide03.jpg" alt="Third Slide" class="d-block w-100">
        </div>

    </div>

</div>
<!--Ribbon-->

<div id="ribbon" class="container-fluid">
    <!--Container fluid para que se expanda-->
    <div id="birthday" class="container w-50 pl-5 rounded-lg">
        <!-- 5 veces el padding left-->

        <div class="row align-items-center">

            <div class="col-sm p-3">

                <img src="assets/images/image01.png" class="w-75 mx-auto d-block" alt=" ">

            </div>
            <div class="col-sm -3 text-light text-center">
                <p class="text-warning h3">Compañía de Juegos Nintendo Animal Crossing</p>

            </div>


        </div>


    </div>
</div>

<!--Separador de Amiibbos-->

<div id="separator-amiibos">
    <div class="content bg-success "></div>
</div>
<!--Creo otra capa para separar la segunda imagen y ponerla al final del boton y los muñecos-->
<div id="separator-amiibos-footer"></div>

<!--Descripcion del proyecto-->


<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="h2 text-shadow">La presente página ha sido creada con el propósito de recrear una tienda de juegos electrónicos Nintendo, desarrollada para la materia Desarrollo de Software Del Instituto Técnico de Cipolletti</h3><br>
            <p>Durante el recorrido de la misma me dedicaré a mostrar los productos ofrecidos, formularios de contacto, utilización de Bootstrap y Angular. Sin más palabras para agregar los dejo en libertad para recorrerla. Muchas gracias.</p>
        </div>
    </div>
</div>