<div id="footer" class="p-5">
    <div class="container w-50 pt-5">
        <div class="row justify-content-md-center">
            <div class="col text-center">
                <a href="#">
                    <button class="btn btn-lg rounded-pill btn-warning w10 p-3 shadow-sm font-weight-bold">Customer Support</button>
                </a>
            </div>
        </div>

        <div class="row justify-content-md-center py-5">
            <div class="col text-center font-weight-light">
                <p>Es posible que se requieran juegos, consolas y/o accesorios adicionales para jugar en el modo multijugador.</p>
                <p>Se venden por separado. Nintendo Switch Lite es compatible con todos los juegos que utilizan el modo portátil. © Nintendo.</p>
                <p>AnimalCrossing y Nintendo Switch son marcas registradas de Nintendo.</p>
            </div>
        </div>
    </div>
</div>